<body>
<a class="btn btn-success" [routerLink]="['/admin/applicants']" aria-label="View all applicants">
  <i class="bi bi-plus-lg"></i>
  View all applicants
</a>

<a class="btn btn-success" [routerLink]="['/admin/job-applications']" aria-label="View all job applications">
  <i class="bi bi-plus-lg"></i>
  View all job applications
</a>

<button class="btn btn-outline-primary position-relative" (click)="openMessages()">
  Messages
  <span *ngIf="messagesCount > 0"
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ messagesCount }}
    <span class="visually-hidden">pending requests</span>
  </span>
</button>

<a class="btn btn-success" [routerLink]="['/admin/jobs/create']" aria-label="New job">
  <i class="bi bi-plus-lg"></i>
  New job
</a>
<table>
  <tr *ngFor="let job of jobs">
    <td>
      <div class="job-preview">
        <div class="job-title">
          {{job.title}}
        </div>
        <div class="job-details">
          <span><i class="bi bi-geo-alt"></i> {{job.city}} </span>
          <span><i class="bi bi-calendar4-week"></i> {{job.startDate | date: 'yyyy-MM-dd'}} - {{job.endDate | date: 'dd.MM'}} </span>
          <button (click)="details(job.id)" [routerLink]="['/admin/jobs/details', job.id]"> view applicants <i class="bi bi-arrow-right"></i> </button>
          <button (click)="edit(job.id)" [routerLink]="['/admin/jobs/edit', job.id]"> edit <i class="bi bi-arrow-right"></i> </button>
          <button (click)="delete(job.id)" [routerLink]="['/admin/jobs/delete', job.id]"> delete <i class="bi bi-arrow-right"></i> </button>
        </div>
      </div>
    </td>
  </tr>
</table>
</body>
