<div class="mt-3">

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Store number</th>
      <th>City</th>
      <th>Client</th>
      <th>Store</th>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th>Phone Number</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let application of jobApplications">
      <td>{{ application.jobStoreNumber }}</td>
      <td>{{ application.jobCity }}</td>
      <td>{{ application.jobClient }}</td>
      <td>{{ application.jobLocation }}</td>
      <td>{{ application.jobDatePeriod }}</td>
      <td>{{ application.jobShiftPeriod }}</td>
      <td>{{ application.applicantFullName }}</td>
      <td>{{ application.applicantNumber }}</td>
    </tr>
    </tbody>
  </table>

</div>

<div>
  <button class="btn btn-sm btn-outline-secondary" (click)="exportApplicationsToExcel()">Export job applications to Excel</button>
</div>
